DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=base_app_backend
DATABASE_URL=mysql://root:password@localhost:3306/base_app_backend

SECRET_KEY=your_secret_key_here

BETTER_AUTH_SECRET=JGjuPk7IPn88Y64PdU1mxObIu7vhUwCbjh+VN28WKuI= # openssl rand -base64 32
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

PORT=8000